    header {
      margin-left: 2px;
    }
    h1 {
      font-size: 50px;
      background-color: red;
      text-align: center;
      position: absolute;
      padding: 34px;
    }
    .container {
      margin-top: 120px;
    }
    h2 {
      color:green;
      background-color: yellow;
      position: absolute;
      margin-right: -15px;
      margin-left: 2px;
      padding-top: 10px;
      font-weight: bold;
    }
    #crystalImage {
      width: 100px;
      height: 100px;
    }
    #crystalImage2 {
      width: 100px;
      height: 100px;
    }
    #crystalImage3 {
      width: 100px;
      height: 100px;
      background-color: white;
    }
    #crystalImage4 {
      width: 100px;
      height: 100px;
    }
    .here {
      position: absolute;
      margin-top: 166px;
      margin-left: 2px;
    }
    .there {
      position: absolute;
      background-color: #00ccff;
      margin-left: 213px;
      margin-top: -148px;
      padding-right: 74px;
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 15px;
    }
    #crystals {
      margin-top: 323px;
      position: absolute;
      margin-left: 2px;
    }
    #score {
      position: absolute;
      margin-top: 431px;
      background-color: #009999;
      color: white;
      margin-left: 2px;
      padding-right: 7px;
      font-size: 20px;
    }
    #yourNumber {
      background-color: #009999;
      color: white;
      margin-top: 5px;
      position: absolute;
      padding-right: 153px;
      padding-bottom: 114px;
      font-size: 36px;

    }
    #numb {
      background-color:green;
      font-size: 36px;
      padding-right: 153px;
      padding-bottom: 114px;
    }
    #end{
      position: absolute;
      margin-left: 50px;
      margin-top: -16px;
    }

    #winz{
      position: absolute;
    }
    #lossez{
      position: absolute;
      margin-left: 51px;
      margin-top: -15px;
    }
    #one{
      padding-bottom: 8px;
    }
    #two {
      padding-bottom: 8px;
    }